@import url(./reset.css);

:root { 
    --bg-color: #001C30;
    --second-bg-color: #176B87;
    --text-color: #ededed;
    --main-color: #DAFFFB;
    --second-main-color: #64CCC5;
}

.light__mode{
    --bg-color: #FFF7F7;
    --second-bg-color: #DADADA;
    --text-color: #161D6F;
    --second-main-color: #08FFC8;
}

body{
    font-family: "Andika", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    background: var(--bg-color);
    color: var(--text-color);
}


.wrapper{
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 2rem;

    display: flex;
    flex-direction: column;
    height: 100%;
}

img{
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/* ======================================== */
.header {
    padding: 1rem 0;
    display: grid;
    
    grid-template: 'logo nav search' max-content / 1fr auto 0.3fr;
    align-items: center;
    justify-content: start;

    overflow: hidden;
}

.header_logo{
    grid-area: logo;
    justify-self: end;
    padding-right: 3rem;
}

.bx {
    font-size: 1.5rem;
    color: var(--main-color);
    transition: all 0.5s ease-out;
}

.bxs-cat{
    font-size: 2rem;
}

.header_menu {
    grid-area: nav;
    padding: 0 1rem;
}

.header_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.header_item {
    text-transform: uppercase;
}

.header_item:not(:last-child){
    padding-right: 1rem;
}

.header_link {
    color: var(--main-color);
    transition: color 0.6s;
    display: inline-block;
    position: relative;
    padding: 1rem 0;
}

.header_link:hover{
    color: var(--second-main-color);
}

.header_link::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -4.4rem;
    left: 0;
    background-color: var(--second-main-color);
    width: 100%;
    height: 80%;
    transition: all 0.6s;
}

.header_link:hover::after{
    bottom: -2rem;
}

.header_search {
    grid-area: search;
    justify-self: end;
}

.bxs-sun {
}
.bxs-sun:hover{
    color: var(--second-main-color);
}

/* ======================================== */
.main {
    flex: 1 1 auto;
    display: grid;
    grid-template-rows: 3fr 1fr 3fr;
    grid-template-columns: 2fr 1fr 1.5fr 1.5fr;
    grid-template-areas: 'slider-arrows main_block2 main_block3 main_block3'
                        'slider-arrows main_block2 slider-dot main_image'
                        'main_block main_block2 slider-dot main_image';
}


/* СЛАЙДЕР ====================================== */
.slider-arrows {
    grid-area: slider-arrows;
    position: relative;
}

.slider-arrows_image {
    width: 100%;
    height: 100%;

    display: flex;

    filter: brightness(80%);
}

.slider-arrows_nav {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    transform: translateY(-50%);
}

.slider-arrows_right,
.slider-arrows_left {
    background-color: transparent;
    display: flex;
    align-items: center;
    transition: opacity 1s;
}

.btn {
    letter-spacing: 2px;
    color: var(--text-color);
    background-color: transparent;
    border: 1px solid var(--text-color);
    border-radius: 0.5rem;
    padding: 0.5rem;
    transition: opacity 1s;
}

.slider-arrows_right:hover,
.slider-arrows_left:hover,
.btn:hover{
    opacity: 0.7;
}

.bx-left-arrow-circle,
.bx-right-arrow-circle {
    font-size: 3rem;
}

/* СЛАЙДЕР 2================================ */
.slider-dot{
    grid-area: slider-dot;
    position: relative;
}
.slider-dot_image {
    width: 100%;
    height: 100%;

    display: flex;

    filter: brightness(80%);
}
.slider-dot_img {
}
.slider-dot_btn {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    transform: translateY(-50%);
}
.slider-arrows_btn {
}
.slider-dot_nav {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 0.5rem;

    position: absolute;
    left: 0;
    bottom: 3rem;
}
.slider-dot_item {
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    background-color: var(--second-main-color);

    transition: opacity 1s;
}

.slider-dot_item:hover{
    opacity: 0.7;
}

.slider-dot_item-active {
    border: none;
    background-color: transparent;
    border: 2px solid var(--second-main-color);
}

/* ======================================== */
.main_block {
    grid-area: main_block;
    background-color: var(--main-color);
    color: var(--bg-color);
    padding: 1rem;

    display: flex;
    align-items: center;
}
.block_title {
    font-size: 2rem;
    padding-right: 0.8rem;
    line-height: 3rem;
    font-weight: 700;
}
.block-text {
    line-height: 1.7rem;
}

.main_block2{
    grid-area: main_block2;
    background-color: var(--second-bg-color);

    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main_block3{
    grid-area: main_block3;
    display: flex;
    align-items: center;
    background-color: var(--second-main-color);
    padding: 1rem;
    color: var(--bg-color);
}

.main_image {
    grid-area: main_image;
}
.main_image_image {
    width: 100%;
    height: 100%;

    display: flex;

    filter: brightness(80%);
}
/* ======================================== */
.footer {
}

